body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
.topic {
  background-color: hsl(47, 88%, 63%);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
  max-width: 350px;
  background-color: white;
  border: 1px solid black;
}

.card:hover {
  box-shadow: 10px 10px;
}

.topic {
  max-width: max-content;
  padding: 5px 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.headline-link {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.headline-link > a {
  text-decoration: none;
}

.headline-link > a:visited {
  color: black;
}

.headline-link > a:hover {
  color: hsl(47, 88%, 63%);
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-picture {
  border: 1px solid black;
  height: 40px;
}

.author-name {
  font-weight: bold;
  font-size: 15px;
}